<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-Chat | Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to V-Chat</h1>
    <div class="btn-container">
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>