<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | V-Chat</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="form-container">
      <h1>Login</h1>
      <form id="loginForm">
        <input
          type="email"
          id="emailInp"
          placeholder="Email"
          name="email"
          required
          autocomplete="off"
        />
        <input
          type="password"
          id="passwordInp"
          placeholder="Password"
          name="password"
          required
          autocomplete="off"
        />
        <button type="submit">Login</button>
      </form>
      <p>Don't have a account? <a href="/signup">Signup now</a></p>
    </div>
  </body>
  <script>
    const loginForm = document.getElementById("loginForm");
    const emailInp = document.getElementById("emailInp");
    const passwordInp = document.getElementById("passwordInp");

    loginForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = {
        email: emailInp.value,
        password: passwordInp.value.toString(),
      };
      const apiUrl = "/login";
      try {
        const response = await fetch(apiUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        });

        const data = await response.json();

        if (response.ok) {
          alert(data.message);
          document.cookie = `token=${data.token}; path=/; HttpOnly; Secure; SameSite=None`;
          window.location.href = "/chat";
        } else {
          alert(data.message);
        }
      } catch (error) {
        alert("An error occurred");
      }
    });
  </script>
</html>
